body, html, #root, .App {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .panel {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/*   
  #banner::before{
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid white;
    height: 500px;
    background-image: url(/public/p4.jpeg);
    background-repeat: no-repeat;
    width: 80%;
    background-size: cover;
    /* mask-image: url(/public/ink.png); */
    /* mask-repeat: inherit; 
    mask-image: url(/public/inkgif.gif);
} */